html {
  box-sizing: border-box;
}

body {
  color: #343434;
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h1 {
  font-size: 70px;
  line-height: 1;
}

h2 {
  font-size: 45px;
}

h1.h2 {
  font-family: "Caveat", cursive;
  font-weight: 400;
  margin: 0;
}

.content-wrap {
  max-width: 800px;
  width: 85%;
  margin: 0 auto;
  padding: 60px 0;
}

/* navbar */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  padding-right: 40px;
  overflow: hidden;
  background-color: #2f3061;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

.navbar .nav-right {
  float: right;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  font-size: 16px;
  text-decoration: none;
  font-weight: 300;
}

li a:hover {
  background-color: white;
  color: #2f3061;
}

/* .active {
    color:  lightblue;
    padding-bottom: 8px;
    border-bottom-style: solid ;
    border-bottom-width: 2px;
    width: fit-content;
    font-weight: 550;
  } */

@media screen and (max-width: 600px) {
  .navbar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    padding-right: 5px;
    overflow: hidden;
    background-color: #2f3061;
    top: 0;
  }
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 12px 14px;
    font-size: 13px;
    text-decoration: none;
    font-weight: 300;
  }
}

/* Home   */
header {
  background: #2f3061;
  color: #f7fff7;
  text-align: center;
}

#home > .content-wrap > p {
  font-size: 20px;
}

@media screen and (max-width: 600px) {
  #home > .content-wrap > p {
    font-size: 15px;
  }

  #home > .content-wrap > h2 {
    font-size: 24px;
  }
}

/* about ME   */
.about-me {
  background: #ffffff;
  overflow: hidden;
}

.about-me h2 {
  text-align: center;
}

.about-me img {
  width: 250px;
  height: 250px;
  /* border: 4px solid black; */
  float: left;
}

.about-me p {
  float: left;
  font-size: 18px;
  /* margin: 30px; */
}

@media screen and (max-width: 600px) {
  .about-me h2 {
    /* float: left; */
    font-size: 30px;
    text-align: center;
  }

  .about-me p {
    float: left;
    font-size: 16px;
    /* margin: 30px; */
  }

  .about-me img {
    width: 150px;
    height: 150px;
    margin-left: 40px;
    margin-right: 40px;
    /* border: 4px solid black; */
  }
}

/* skills */
.skills {
  background: #a1c6d7;
}

.skills h2 {
  text-align: center;
}

.skill-item p {
  font-size: 18px;
  font-weight: 2;
  color: black;
  text-align: center;
}

.container {
  background-color: lightgrey;
  width: 80%;
  height: 20px;
  border-radius: 15px;
  margin-bottom: 50px;
}

.skill {
  /* background-color: rgb(116, 194, 92); */
  background: hsla(221, 45%, 73%, 1);

  background: linear-gradient(
    90deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 93%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 93%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(221, 45%, 73%, 1) 0%,
    hsla(220, 78%, 29%, 1) 93%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#9bafd9", endColorstr="#103783", GradientType=1 );
  color: white;
  padding: 0.01%;
  text-align: right;
  font-size: 15px;
  border-radius: 15px;
}

.html,
.android,
.java {
  text-align: center;
  padding-left: 20px;
  font-weight: 400;
  width: 80%;
}

.python {
  text-align: center;
  font-weight: 400;
  width: 70%;
}

.mysql {
  text-align: center;
  font-weight: 400;
  width: 60%;
}

@media screen and (max-width: 600px) {
  .skills h2 {
    /* float: left; */
    font-size: 30px;
    text-align: center;
  }

  .skill-item p {
    font-size: 16px;
  }
}

/* certifications */
.certification {
  background-color: #ffe66d;
}

.certification h2 {
  text-align: center;
}

.certification input[type="radio"] {
  display: none;
}

.certification input[type="radio"]:checked + section {
  display: block;
}

.certification .container {
  position: relative;
  /* left: 50%; */
  /* margin-left: -100px; */
  align-self: center;
  /* margin: 10px; */
  width: 800px;
  height: 320px;

  box-shadow: 10px 40px grey;
}

.certification .container section {
  display: none;
  height: 100%;
  padding: 15px;
  /* background: #449df5; */
  color: #fff;
  text-align: center;
  background: #413f3c;
}

.certification .container section h1 {
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  font-size: 2em;
}

.certification .container section img {
  width: 200px;
  height: 120px;
}

.certification .container section p {
  width: 75%;
  margin: 0 auto;
  padding: 10px;
}

.certification .container section label {
  position: absolute;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5em;
  bottom: 0;
}

.certification .container section label:nth-child(odd) {
  right: 120px;
}

.certification .container section label:nth-child(even) {
  left: 120px;
}

.certification .container section > i {
  font-size: 7em !important;
  margin-top: 60px;
  margin-bottom: 25px;
}

@media screen and (max-width: 900px) {
  .certification .container {
    position: relative;
    /* left: 50%; */
    /* margin-left: -100px; */
    align-self: center;
    margin: 10px;
    width: 800px;
    height: 320px;
  }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .certification h2 {
    font-size: 30px;
    text-align: center;
  }
  .certification .container {
    position: relative;
    /* left: 50%; */
    /* margin-left: -100px; */
    align-self: center;
    margin: 10px;
    width: 400px;
    height: 340px;
  }

  .certification .container section img {
    width: 140px;
    height: 90px;
  }

  .certification .container section h1 {
    margin-bottom: 0;
    font-family: "Nunito", sans-serif;
    font-weight: lighter;
    font-size: 18px;
  }

  .certification .container section p {
    width: 75%;
    margin: 0 auto;
    padding: 10px;
    font-size: 13px;
  }

  .certification .container section label {
    position: absolute;
    display: inline-block;
    cursor: pointer;
    font-size: 1em;
    bottom: 0;
  }
}

/* projects */
/* .projects{
    background: #FFE66D ;
}

.project-item {
    overflow: hidden;
  }
  .project-item img {
    float: left;
    width: 150px;
    height: 150px;
  }
  .project-item h2 {
    margin-top: 0;
  }

  .project-item p{
      float: left;
      margin: 20px;
  } */

/* footer */

#contact {
  /* background-color: #8F8389; */
  background: hsla(0, 0%, 0%, 1);

  background: linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(330, 5%, 54%, 1) 9%
  );

  background: -moz-linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(330, 5%, 54%, 1) 9%
  );

  background: -webkit-linear-gradient(
    90deg,
    hsla(0, 0%, 0%, 1) 0%,
    hsla(330, 5%, 54%, 1) 9%
  );

  filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#000000", endColorstr="#8F8389", GradientType=1 );
  color: white;
}

#contact h2 {
  text-align: center;
}

.fa {
  padding: 5px;
  color: #0a37b3;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
  color: black;
  opacity: 0.7;
}

.fa-linkedin {
  color: white;
  margin-left: 350px;
}

.fa-whatsapp {
  color: white;
}

.fa-instagram {
  color: white;
}

.box-wrapper {
  height: 40vh;
  width: 60vw;
  display: flex;
  flex-direction: column;
}

#box {
  padding: 10px;
  flex-grow: 1;
  display: flex;
  flex-direction: row;
}
#box1,
#box2,
#box3 {
  flex-grow: 1;
  margin: 20px;
  /* border: solid 1px orange;  */
  /* color: white; */
}

.material-icons {
  /* color: #F05581; */
}
.material-icons:hover {
  color: black;
}

#box > #box1,
#box2,
#box3 > h3 {
  text-align: center;
}

#box > #box1,
#box2,
#box3 > p {
  text-align: center;
}

@media screen and (max-width: 900px) {
  .fa-linkedin {
    margin-left: 250px;
    color: white;
  }

  #box3 > .material-icons {
    margin-right: 10px;
  }
}
@media screen and (max-width: 600px) {
  #contact h2 {
    font-size: 30px;
    text-align: center;
  }

  .fa {
    padding: 2px;
    color: orange;
    text-align: center;
    text-decoration: none;
    /* margin: 5px 2px; */
  }

  .fa-linkedin {
    font-size: 20px;
    margin-left: 70px;
    color: white;
  }
  .fa-whatsapp {
    color: white;
  }

  .fa-instagram {
    color: white;
  }

  .box-wrapper {
    height: 120vh;
    width: 60vw;
    display: flex;
    flex-direction: column;
  }

  #box {
    padding: 10px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
}

/* footer */
footer .visitor-count {
  text-align: center;
  padding: 30px;
  background-color: black;
  color: white;
}

.visitor-count {
  font-size: 16px;
}
